.reset-password-main {
  font-family: Nunito, monospace;
  margin: 3rem;
  text-align: center;
}

.reset-password-main > h1 {
  font-weight: bold;
  font-size: 3rem;
}

.reset-password-form-container {
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: white;
  width: 40%;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reset-password-form-item {
  display: flex;
  flex-direction: column;
}
.reset-password-form-item > label {
  align-self: flex-start;
}

.reset-password-btn {
  background-color: #ff3b30;
  color: white;
  border: none;
  padding: 0.35rem 0.45rem;
  cursor: pointer;
}
